spring:
  application:
    name: mapping.relationship.ManyToMany
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/manytomany
    username: postgres
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 9090

logging:
  level:
    org.hibernate.tool.schema: DEBUG
    org.hibernate.SQL: DEBUG
